# Patient Basic
Create patient cohort of all patients who have at least 1 claim wtih a code in `ref_cohort` between the dates of interest.

**Script**
* [scripts/coh/coh_basic.ipynb](./scripts/coh/coh_basic.ipynb)
 
**Parameters**
* `in/coh/coh_basic.xlsx[param]`
* `in/coh/coh_basic.xlsx[ref]`

**Input**
* None

**Output**
* `coh_basic_ref`
* `coh_basic_raven_diagnosis`
* `coh_basic_raven_pharmacy`
* `coh_basic_raven_procedure`
* `coh_pt`
* `coh_claim`

**Review**
* [scripts/coh/coh_basic.html](./scripts/coh/coh_basic.html)

In [1]:
#Import libraries for this notebook
import pandas as pd  
from drg_connect import Snowflake
import numpy as np
import pickle
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from workbook_writer import make_xlsx

#Load connection variables to connect_dict
with open('../../out/conn/connect_dict.pickle', 'rb') as handle:
    connect_dict = pickle.load(handle)

#Create Eegine to connect to snowflake
snow = Snowflake(role=connect_dict['role'],
                 warehouse=connect_dict['warehouse'],
                 database=connect_dict['database'],
                 schema=connect_dict['schema'])

#Finish engine setup
engine = snow.engine
%load_ext sql_magic
%config SQL.conn_name = 'engine'  #Set the sql_magic connection engine
%config SQL.output_result = True  #Enable output to std out
%config SQL.notify_result = False #disable browser notifications

# Parameters
Python dictionary of parameters for the cohort basic procedure

**Input**  
* `in/coh/coh_basic.xlsx[param]`

**Output**
* Python variables named after parameters with the value

In [2]:
#Create system variables from excel into script and review values in dictionary
input_df = pd.read_excel('../../in/coh/coh_bool.xlsx', sheet_name='param', skiprows=4, dtype=str)
var_dict = dict(zip(input_df.parameter, input_df.value))
for key,val in var_dict.items(): exec(key + '=val')

#Check inputs
pd.DataFrame.from_dict(var_dict, orient='index')

                           0
med_dx_start_dt   2017-01-01
med_dx_end_dt     2018-12-31
proc_rx_start_dt  2017-01-01
proc_rx_end_dt    2018-12-31

# Reference
Uploads reference table to snowflake used to identify the cohort

**Input**  
  * `in/coh/coh_basic.xlsx[ref]`

**Output**  
* `coh_basic_ref`

## coh_bool_ref_dx1
Diagnosis code group 1

In [3]:
#Upload reference table from excel to snowflake and review snowflake output
df = pd.read_excel('../../in/coh/coh_bool.xlsx', sheet_name='DX1', skiprows=4, dtype=str)

#Strip white space, make referrable columns uppercase, and remove non alphanumeric values from coce
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df[['code_type','code']] =  \
   df[['code_type','code']].apply(lambda x: x.str.upper() if x.dtype == "object" else x)
df.code= df.code.str.replace(r'\W+','').astype('str')

#Upload to snowflake
snow.drop_table("coh_bool_ref_dx1")
snow.upload_dataframe(df,"coh_bool_ref_dx1")
snow.select("SELECT * FROM coh_bool_ref_dx1")
del df

DROP TABLE IF EXISTS ref_db.semi_custom.coh_bool_ref_dx1;
Initiating login request with your identity provider. A browser window should have opened for you to complete the login. If you can't see it, check existing browser windows, or your OS settings. Press CTRL+C to abort and try again...
Table ref_db.semi_custom.coh_bool_ref_dx1 dropped! (╯°□°）╯︵ ┻━┻
Upload into ref_db.semi_custom.coh_bool_ref_dx1 successful! ┬──┬◡ﾉ(°-°ﾉ)

,code_type,code,description,source
0,ICD10,G3289,Other specified degenerative disorders of nerv...,Ankit Market Def
1,ICD10,G3281,Cerebellar ataxia in diseases classified elsew...,Ankit Market Def
2,ICD10,G328,Other specified degenerative disorders of nerv...,Ankit Market Def
3,ICD10,G320,Subacute combined degeneration of spinal cord ...,Ankit Market Def
4,ICD10,G32,Other degenerative disorders of nervous system...,Ankit Market Def
5,ICD10,G319,Degenerative disease of nervous system unspeci...,Ankit Market Def
6,ICD10,G3189,Other specified degenerative diseases of nervo...,Ankit Market Def
7,ICD10,G3185,Corticobasal degeneration,Ankit Market Def
8,ICD10,G3184,Mild cognitive impairment so stated,Ankit Market Def
9,ICD10,G3183,Dementia with Lewy bodies,Ankit Market Def
10,ICD10,G3182,Leigh's disease,Ankit Market Def
11,ICD10,G3181,Alpers disease,Ankit Market Def
12,ICD10,G318,Other specified degenerative diseases of nervo...,Ankit Market Def
13,ICD10,G312,Degeneration of nervous system due to alcohol,Ankit Market Def
14,ICD10,G311,Senile degeneration of brain not elsewhere cla...,Ankit Market Def
15,ICD10,G3109,Other frontotemporal dementia,Ankit Market Def
16,ICD10,G3101,Pick's disease,Ankit Market Def
17,ICD10,G310,Frontotemporal dementia,Ankit Market Def
18,ICD10,G31,Other degenerative diseases of nervous system ...,Ankit Market Def
19,ICD10,G309,Alzheimer's disease unspecified,Ankit Market Def
20,ICD10,G308,Other Alzheimer's disease,Ankit Market Def
21,ICD10,G301,Alzheimer's disease with late onset,Ankit Market Def
22,ICD10,G300,Alzheimer's disease with early onset,Ankit Market Def
23,ICD10,G30,Alzheimer's disease,Ankit Market Def
24,ICD9,33189,Other specified degenerative diseases of nervo...,Ankit Market Def
25,ICD9,33183,Mild cognitive impairment so stated,Ankit Market Def
26,ICD9,33182,Dementia with Lewy bodies,Ankit Market Def
27,ICD9,33181,Reye's syndrome,Ankit Market Def
28,ICD9,3317,Other disorders of brain in diseases classifie...,Ankit Market Def
29,ICD9,3316,Corticobasal degeneration,Ankit Market Def
30,ICD9,3315,(Idiopathic) normal pressure hydrocephalus,Ankit Market Def
31,ICD9,3314,Obstructive hydrocephalus,Ankit Market Def
32,ICD9,3313,Communicating hydrocephalus,Ankit Market Def
33,ICD9,3312,Senile degeneration of brain not elsewhere cla...,Ankit Market Def
34,ICD9,33119,Other frontotemporal dementia,Ankit Market Def
35,ICD9,33111,Pick's disease,Ankit Market Def
36,ICD9,3310,Alzheimer's disease unspecified,Ankit Market Def

## coh_bool_ref_dx2
Diagnosis Code Group 2

In [4]:
#Upload reference table from excel to snowflake and review snowflake output
df = pd.read_excel('../../in/coh/coh_bool.xlsx', sheet_name='DX2', skiprows=4, dtype=str)

#Strip white space, make referrable columns uppercase, and remove non alphanumeric values from coce
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df[['code_type','code']] =  \
   df[['code_type','code']].apply(lambda x: x.str.upper() if x.dtype == "object" else x)
df.code= df.code.str.replace(r'\W+','').astype('str')

#Upload to snowflake
snow.drop_table("coh_bool_ref_dx2")
snow.upload_dataframe(df,"coh_bool_ref_dx2")
snow.select("SELECT * FROM coh_bool_ref_dx2")
del df

DROP TABLE IF EXISTS ref_db.semi_custom.coh_bool_ref_dx2;
Table ref_db.semi_custom.coh_bool_ref_dx2 dropped! (╯°□°）╯︵ ┻━┻
Upload into ref_db.semi_custom.coh_bool_ref_dx2 successful! ┬──┬◡ﾉ(°-°ﾉ)

,code_type,code,description,source
0,ICD9,4118,nan,Xarelto File
1,ICD9,4108,nan,Xarelto File
2,ICD9,4102,nan,Xarelto File
3,ICD9,410,nan,Xarelto File
4,ICD9,4106,nan,Xarelto File
5,ICD9,4107,nan,Xarelto File
6,ICD9,41010,Acute myocardial infarction of other anterior ...,Xarelto File
7,ICD9,41012,Acute myocardial infarction of other anterior ...,Xarelto File
8,ICD9,41062,"True posterior wall infarction, subsequent epi...",Xarelto File
9,ICD9,41080,Acute myocardial infarction of other specified...,Xarelto File
10,ICD9,41020,Acute myocardial infarction of inferolateral w...,Xarelto File
11,ICD9,41022,Acute myocardial infarction of inferolateral w...,Xarelto File
12,ICD9,41032,Acute myocardial infarction of inferoposterior...,Xarelto File
13,ICD9,41082,Acute myocardial infarction of other specified...,Xarelto File
14,ICD9,41090,Acute myocardial infarction of unspecified sit...,Xarelto File
15,ICD9,41091,Acute myocardial infarction of unspecified sit...,Xarelto File
16,ICD9,41092,Acute myocardial infarction of unspecified sit...,Xarelto File
17,ICD9,41181,Acute coronary occlusion without myocardial in...,Xarelto File
18,ICD9,41002,Acute myocardial infarction of anterolateral w...,Xarelto File
19,ICD9,41030,Acute myocardial infarction of inferoposterior...,Xarelto File
20,ICD9,41041,Acute myocardial infarction of other inferior ...,Xarelto File
21,ICD9,4111,Intermediate coronary syndrome,Xarelto File
22,ICD9,41000,Acute myocardial infarction of anterolateral w...,Xarelto File
23,ICD9,41031,Acute myocardial infarction of inferoposterior...,Xarelto File
24,ICD9,41050,Acute myocardial infarction of other lateral w...,Xarelto File
25,ICD9,41070,"Subendocardial infarction, episode of care uns...",Xarelto File
26,ICD9,41061,"True posterior wall infarction, initial episod...",Xarelto File
27,ICD9,41071,"Subendocardial infarction, initial episode of ...",Xarelto File
28,ICD9,41021,Acute myocardial infarction of inferolateral w...,Xarelto File
29,ICD9,41051,Acute myocardial infarction of other lateral w...,Xarelto File
...,...,...,...,...
53,ICD10,I231,Atrial septal defect as current complication f...,Xarelto File
54,ICD10,I232,Ventricular septal defect as current complicat...,Xarelto File
55,ICD10,I233,Rupture of cardiac wall without hemopericardiu...,Xarelto File
56,ICD10,I234,Rupture of chordae tendineae as current compli...,Xarelto File
57,ICD10,I235,Rupture of papillary muscle as current complic...,Xarelto File
58,ICD10,I236,"Thrombosis of atrium, auricular appendage, and...",Xarelto File
59,ICD10,I238,Other current complications following acute my...,Xarelto File
60,ICD10,I256,Silent myocardial ischemia,Xarelto File
61,ICD10,I21,ST elevation (STEMI) and non-ST elevation (NST...,Xarelto File
62,ICD10,I210,ST elevation (STEMI) myocardial infarction of ...,Xarelto File
63,ICD10,I2101,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
64,ICD10,I2102,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
65,ICD10,I2109,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
66,ICD10,I211,ST elevation (STEMI) myocardial infarction of ...,Xarelto File
67,ICD10,I2111,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
68,ICD10,I2119,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
69,ICD10,I212,ST elevation (STEMI) myocardial infarction of ...,Xarelto File
70,ICD10,I2121,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
71,ICD10,I2129,ST elevation (STEMI) myocardial infarction inv...,Xarelto File
72,ICD10,I213,ST elevation (STEMI) myocardial infarction of ...,Xarelto File
73,ICD10,I214,Non-ST elevation (NSTEMI) myocardial infarction,Xarelto File
74,ICD10,I237,Postinfarction angina,Xarelto File
75,ICD10,I200,Unstable angina,Xarelto File
76,ICD10,I241,Dresslers syndrome,Xarelto File
77,ICD10,I240,Acute coronary thrombosis not resulting in myo...,Xarelto File
78,ICD10,I248,Other forms of acute ischemic heart disease,Xarelto File
79,ICD10,I249,Acute ischemic heart disease unspecified,Xarelto File
80,ICD9,4148,Other specified forms of chronic ischemic hear...,Xarelto File
81,ICD9,4149,"Chronic ischemic heart disease, unspecified",Xarelto File
82,ICD9,I249,"Acute ischemic heart disease, unspecified",Xarelto File

## coh_bool_ref_proc_rx
Procedure and rx grouped codes

In [5]:
#Upload reference table from excel to snowflake and review snowflake output
df = pd.read_excel('../../in/coh/coh_bool.xlsx', sheet_name='proc_rx', skiprows=4, dtype=str)

#Strip white space, make referrable columns uppercase, and remove non alphanumeric values from coce
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)
df[['code_type','code']] =  \
   df[['code_type','code']].apply(lambda x: x.str.upper() if x.dtype == "object" else x)
df.code= df.code.str.replace(r'\W+','').astype('str')

#Upload to snowflake
snow.drop_table("coh_bool_ref_proc_rx")
snow.upload_dataframe(df,"coh_bool_ref_proc_rx")
snow.select("SELECT * FROM coh_bool_ref_proc_rx")
del df

DROP TABLE IF EXISTS ref_db.semi_custom.coh_bool_ref_proc_rx;
Table ref_db.semi_custom.coh_bool_ref_proc_rx dropped! (╯°□°）╯︵ ┻━┻
Upload into ref_db.semi_custom.coh_bool_ref_proc_rx successful! ┬──┬◡ﾉ(°-°ﾉ)

,category,code_type,code,description,source
0,Drug1,NDC,75839042501,Memantine Hydrochloride,Ankit Market Def
1,Drug1,NDC,71335058203,Donepezil Hydrochloride,Ankit Market Def
2,Drug1,NDC,71335058202,Donepezil Hydrochloride,Ankit Market Def
3,Drug1,NDC,71335058201,Donepezil Hydrochloride,Ankit Market Def
4,Drug1,NDC,71335041603,Donepezil Hydrochloride,Ankit Market Def
5,Drug1,NDC,71335041602,Donepezil Hydrochloride,Ankit Market Def
6,Drug1,NDC,71335041601,Donepezil Hydrochloride,Ankit Market Def
7,Drug1,NDC,69452010930,Donepezil Hydrochloride,Ankit Market Def
8,Drug1,NDC,69452010919,Donepezil Hydrochloride,Ankit Market Def
9,Drug1,NDC,69452010913,Donepezil Hydrochloride,Ankit Market Def
10,Drug1,NDC,69452010830,Donepezil Hydrochloride,Ankit Market Def
11,Drug1,NDC,69452010819,Donepezil Hydrochloride,Ankit Market Def
12,Drug1,NDC,69452010813,Donepezil Hydrochloride,Ankit Market Def
13,Drug1,NDC,68382034706,Donepezil Hydrochloride,Ankit Market Def
14,Drug1,NDC,68382034606,Donepezil Hydrochloride,Ankit Market Def
15,Drug1,NDC,68382017914,Galantamine Hydrobromide,Ankit Market Def
16,Drug1,NDC,68382017814,Galantamine Hydrobromide,Ankit Market Def
17,Drug1,NDC,68382017714,Galantamine Hydrobromide,Ankit Market Def
18,Drug1,NDC,68258714209,Donepezil Hydrochloride,Ankit Market Def
19,Drug1,NDC,68180052709,Donepezil Hydrochloride,Ankit Market Def
20,Drug1,NDC,68180052706,Donepezil Hydrochloride,Ankit Market Def
21,Drug1,NDC,68180023007,Memantine Hydrochloride,Ankit Market Def
22,Drug1,NDC,68180022907,Memantine Hydrochloride,Ankit Market Def
23,Drug1,NDC,68084073411,Donepezil Hydrochloride,Ankit Market Def
24,Drug1,NDC,68084073401,Donepezil Hydrochloride,Ankit Market Def
25,Drug1,NDC,68084072921,Galantamine Hydrobromide,Ankit Market Def
26,Drug1,NDC,68084072911,Galantamine Hydrobromide,Ankit Market Def
27,Drug1,NDC,68084072511,Donepezil Hydrochloride,Ankit Market Def
28,Drug1,NDC,68084072501,Donepezil Hydrochloride,Ankit Market Def
29,Drug1,NDC,68084055011,Rivastigmine Tartrate,Ankit Market Def
...,...,...,...,...,...
559,Drug,NDC,00093073856,Donepezil Hydrochloride,Ankit Market Def
560,Drug,NDC,00093073805,Donepezil Hydrochloride,Ankit Market Def
561,Drug,NDC,00078050361,Rivastigmine,Ankit Market Def
562,Drug,NDC,00078050315,Rivastigmine,Ankit Market Def
563,Drug,NDC,00078050261,Rivastigmine,Ankit Market Def
564,Drug,NDC,00078050215,Rivastigmine,Ankit Market Def
565,Drug,NDC,00078050161,Rivastigmine,Ankit Market Def
566,Drug,NDC,00078050115,Rivastigmine,Ankit Market Def
567,Drug,NDC,00078033931,Rivastigmine Tartrate,Ankit Market Def
568,Drug,NDC,00078032661,Rivastigmine Tartrate,Ankit Market Def
569,Drug,NDC,00078032644,Rivastigmine Tartrate,Ankit Market Def
570,Drug,NDC,00078032615,Rivastigmine Tartrate,Ankit Market Def
571,Drug,NDC,00078032606,Rivastigmine Tartrate,Ankit Market Def
572,Drug,NDC,00078032561,Rivastigmine Tartrate,Ankit Market Def
573,Drug,NDC,00078032544,Rivastigmine Tartrate,Ankit Market Def
574,Drug,NDC,00078032515,Rivastigmine Tartrate,Ankit Market Def
575,Drug,NDC,00078032506,Rivastigmine Tartrate,Ankit Market Def
576,Drug,NDC,00078032461,Rivastigmine Tartrate,Ankit Market Def
577,Drug,NDC,00078032444,Rivastigmine Tartrate,Ankit Market Def
578,Drug,NDC,00078032415,Rivastigmine Tartrate,Ankit Market Def
579,Drug,NDC,00078032406,Rivastigmine Tartrate,Ankit Market Def
580,Drug,NDC,00078032361,Rivastigmine Tartrate,Ankit Market Def
581,Drug,NDC,00078032344,Rivastigmine Tartrate,Ankit Market Def
582,Drug,NDC,00078032315,Rivastigmine Tartrate,Ankit Market Def
583,Drug,NDC,00078032306,Rivastigmine Tartrate,Ankit Market Def
584,Drug,NDC,00054013749,Galantamine Hydrobromide,Ankit Market Def
585,Drug,NDC,00054009221,Galantamine Hydrobromide,Ankit Market Def
586,Drug,NDC,00054009121,Galantamine Hydrobromide,Ankit Market Def
587,Drug,NDC,00054009021,Galantamine Hydrobromide,Ankit Market Def
588,Eval,CPT,99483,Cognition focused evaluation,https://alzimpact.org/media/serve/id/5ab10bc1a...

# Diagnosis Extract

## coh_bool_dx1
Extract the subset from raven diagnosis 

**Parameters**
  * `med_dx_start_dt`
  * `med_dx_end_dt`  
  
**Input**
  * `coh_basic_ref`
  * `rwd_db.rwd.raven_external_claims_submits_diagnosis`
  
**Output**  
* `coh_basic_raven_diagnosis`

In [6]:
%%read_sql

--CREATE TRANSIENT TABLE of all claims with the codes of interest
DROP TABLE IF EXISTS coh_bool_dx1;
CREATE TRANSIENT TABLE coh_bool_dx1 as
      SELECT dx.patient_id,
             dx.claim_id,
             dx.code_type, 
             dx.diagnosis,
             dx.diagnosis_sequence,
             dx.year_of_service
        #FROM rwd_db.rwd.raven_claims_submits_diagnosis dx
        FROM rwd_db.rwd.raven_external_claims_submits_diagnosis dx
       WHERE year_of_service BETWEEN '{med_dx_start_dt}' AND '{med_dx_end_dt}'
             AND diagnosis IN (SELECT code
                                 FROM coh_bool_ref_dx1
                                WHERE code_type IN ('ICD9','ICD10'));
                                
--Add flag to identify if in final cohort
ALTER TABLE coh_bool_dx1
        ADD cohort_flag BOOLEAN default False;

Query started at 10:09:49 AM Eastern Daylight Time; Query executed in 0.04 mQuery started at 10:09:51 AM Eastern Daylight Time; Query executed in 0.22 mQuery started at 10:10:04 AM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

In [7]:
%%read_sql
--Check the raw counts of the initial data pull
SELECT Count(*) AS row_cnt,
       Count(Distinct patient_id) AS patient_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct diagnosis) AS diagnosis_cnt
  FROM coh_bool_dx1

Query started at 10:10:06 AM Eastern Daylight Time; Query executed in 0.13 m

    row_cnt  patient_cnt  claim_cnt  diagnosis_cnt
0  14632483      2418894   13210674             34

In [8]:
%%read_sql
--Review counts by year and code_type
SELECT year(year_of_service) AS yr,
       code_type,
       Count(*) AS cnt
  FROM coh_bool_dx1
 GROUP BY yr, code_type
 ORDER BY yr, code_type

Query started at 10:10:14 AM Eastern Daylight Time; Query executed in 0.12 m

     yr code_type      cnt
0  2017     ICD10  7221465
1  2017      ICD9      527
2  2017      None   113455
3  2018     ICD10  7245910
4  2018      ICD9      105
5  2018      None    51021

In [9]:
%%read_sql
--Review the distribution of the diagnosis counts against the table
SELECT ref.code_type,
       ref.code,
       ref.description,
       Count(*) AS row_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_ref_dx1 ref 
       LEFT JOIN coh_bool_dx1 dx
              ON ref.code = dx.diagnosis
 GROUP BY ref.code_type, ref.code, ref.description
 ORDER BY Count(*) DESC

Query started at 10:10:21 AM Eastern Daylight Time; Query executed in 0.09 m

,code_type,code,description,row_cnt,claim_cnt,patient_cnt
0,ICD10,G309,Alzheimer's disease unspecified,7067051,6325912,955202
1,ICD10,G3184,Mild cognitive impairment so stated,2263966,2168307,657752
2,ICD10,G301,Alzheimer's disease with late onset,1937059,1789603,348505
3,ICD10,G319,Degenerative disease of nervous system unspeci...,794590,764291,412483
4,ICD10,G311,Senile degeneration of brain not elsewhere cla...,618771,529148,93710
5,ICD10,G3183,Dementia with Lewy bodies,570914,524831,81139
6,ICD10,G300,Alzheimer's disease with early onset,438753,405572,93476
7,ICD10,G308,Other Alzheimer's disease,427365,396732,93544
8,ICD10,G3109,Other frontotemporal dementia,209410,192508,36366
9,ICD10,G3189,Other specified degenerative diseases of nervo...,104492,100675,53928
10,ICD10,G3281,Cerebellar ataxia in diseases classified elsew...,49843,47469,10151
11,ICD10,G312,Degeneration of nervous system due to alcohol,42861,40746,15696
12,ICD10,G3101,Pick's disease,40150,36681,7443
13,ICD10,G3185,Corticobasal degeneration,30173,27299,3670
14,ICD10,G3182,Leigh's disease,15640,14794,920
15,ICD10,G320,Subacute combined degeneration of spinal cord ...,8226,8013,2609
16,ICD10,G3289,Other specified degenerative disorders of nerv...,6273,5881,2043
17,ICD10,G3181,Alpers disease,5167,4949,1665
18,ICD10,G30,Alzheimer's disease,1212,1072,375
19,ICD9,3310,Alzheimer's disease unspecified,141,138,51
20,ICD9,3314,Obstructive hydrocephalus,124,124,13
21,ICD10,G310,Frontotemporal dementia,119,117,27
22,ICD10,G318,Other specified degenerative diseases of nervo...,77,76,27
23,ICD10,G31,Other degenerative diseases of nervous system ...,43,37,25
24,ICD9,33183,Mild cognitive impairment so stated,27,26,9
25,ICD10,G32,Other degenerative disorders of nervous system...,16,16,8
26,ICD9,33119,Other frontotemporal dementia,7,7,3
27,ICD9,3316,Corticobasal degeneration,4,4,1
28,ICD9,33182,Dementia with Lewy bodies,3,3,3
29,ICD9,33189,Other specified degenerative diseases of nervo...,2,2,2
30,ICD9,3315,(Idiopathic) normal pressure hydrocephalus,1,1,1
31,ICD10,G328,Other specified degenerative disorders of nerv...,1,1,1
32,ICD9,33111,Pick's disease,1,0,0
33,ICD9,3312,Senile degeneration of brain not elsewhere cla...,1,1,1
34,ICD9,3317,Other disorders of brain in diseases classifie...,1,0,0
35,ICD9,33181,Reye's syndrome,1,0,0
36,ICD9,3313,Communicating hydrocephalus,1,1,1

## coh_bool_dx2

In [10]:
%%read_sql

--CREATE TRANSIENT TABLE of all claims with the codes of interest
DROP TABLE IF EXISTS coh_bool_dx2;
CREATE TRANSIENT TABLE coh_bool_dx2 as
      SELECT dx.patient_id,
             dx.claim_id,
             dx.code_type, 
             dx.diagnosis,
             dx.diagnosis_sequence,
             dx.year_of_service
        #FROM rwd_db.rwd.raven_claims_submits_diagnosis dx
        FROM rwd_db.rwd.raven_external_claims_submits_diagnosis dx
       WHERE year_of_service BETWEEN '{med_dx_start_dt}' AND '{med_dx_end_dt}'
             AND diagnosis IN (SELECT code
                                 FROM coh_bool_ref_dx2
                                WHERE code_type IN ('ICD9','ICD10'));
                                
--Add flag to identify if in final cohort
ALTER TABLE coh_bool_dx2
        ADD cohort_flag BOOLEAN default False;

Query started at 10:10:27 AM Eastern Daylight Time; Query executed in 0.04 mQuery started at 10:10:29 AM Eastern Daylight Time; Query executed in 0.13 mQuery started at 10:10:37 AM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

In [11]:
%%read_sql
--Check the raw counts of the initial data pull
SELECT Count(*) AS row_cnt,
       Count(Distinct patient_id) AS patient_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct diagnosis) AS diagnosis_cnt
  FROM coh_bool_dx2

Query started at 10:10:39 AM Eastern Daylight Time; Query executed in 0.06 m

   row_cnt  patient_cnt  claim_cnt  diagnosis_cnt
0  9593192      2154443    8699980             57

In [12]:
%%read_sql
--Review counts by year and code_type
SELECT year(year_of_service) AS yr,
       code_type,
       Count(*) AS cnt
  FROM coh_bool_dx2
 GROUP BY yr, code_type
 ORDER BY yr, code_type

Query started at 10:10:43 AM Eastern Daylight Time; Query executed in 0.04 m

     yr code_type      cnt
0  2017     ICD10  4843941
1  2017      ICD9      387
2  2017      None    43335
3  2018     ICD10  4687526
4  2018      ICD9      120
5  2018      None    17883

In [13]:
%%read_sql
--Review the distribution of the diagnosis counts against the table
SELECT ref.code_type,
       ref.code,
       ref.description,
       Count(*) AS row_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_ref_dx2 ref 
       LEFT JOIN coh_bool_dx2 dx
              ON ref.code = dx.diagnosis
 GROUP BY ref.code_type, ref.code, ref.description
 ORDER BY Count(*) DESC

Query started at 10:10:45 AM Eastern Daylight Time; Query executed in 0.08 m

,code_type,code,description,row_cnt,claim_cnt,patient_cnt
0,ICD10,I214,Non-ST elevation (NSTEMI) myocardial infarction,5131039,4738329,1067090
1,ICD10,I213,ST elevation (STEMI) myocardial infarction of ...,1046792,993873,338513
2,ICD10,I200,Unstable angina,961981,925948,407283
3,ICD10,I248,Other forms of acute ischemic heart disease,520245,508152,236648
4,ICD9,I249,"Acute ischemic heart disease, unspecified",437300,417940,187753
5,ICD10,I249,Acute ischemic heart disease unspecified,437300,417940,187753
6,ICD10,I2119,ST elevation (STEMI) myocardial infarction inv...,349338,315702,119550
7,ICD10,I2109,ST elevation (STEMI) myocardial infarction inv...,302256,276528,102362
8,ICD10,I2102,ST elevation (STEMI) myocardial infarction inv...,175556,163238,45027
9,ICD10,I2111,ST elevation (STEMI) myocardial infarction inv...,153384,142937,44129
10,ICD10,I2129,ST elevation (STEMI) myocardial infarction inv...,124978,117659,55164
11,ICD10,I240,Acute coronary thrombosis not resulting in myo...,78616,76045,27507
12,ICD10,I222,Subsequent non-ST elevation (NSTEMI) myocardia...,62445,57641,21549
13,ICD10,I236,"Thrombosis of atrium, auricular appendage, and...",48829,46564,12118
14,ICD10,I2121,ST elevation (STEMI) myocardial infarction inv...,40755,38130,12100
15,ICD10,I256,Silent myocardial ischemia,30814,29841,14369
16,ICD10,I2101,ST elevation (STEMI) myocardial infarction inv...,23401,22226,8302
17,ICD10,I241,Dresslers syndrome,22133,21184,7798
18,ICD10,I229,Subsequent ST elevation (STEMI) myocardial inf...,17085,15971,6825
19,ICD10,I238,Other current complications following acute my...,15079,13648,4399
20,ICD10,I220,Subsequent ST elevation (STEMI) myocardial inf...,10842,10098,4343
21,ICD10,I221,Subsequent ST elevation (STEMI) myocardial inf...,9832,9311,4191
22,ICD10,I237,Postinfarction angina,9821,9538,3996
23,ICD10,I231,Atrial septal defect as current complication f...,5668,5472,3030
24,ICD10,I228,Subsequent ST elevation (STEMI) myocardial inf...,4054,3858,1911
25,ICD10,I230,Hemopericardium as current complication follow...,3937,3700,1085
26,ICD10,I232,Ventricular septal defect as current complicat...,3070,2915,999
27,ICD10,I233,Rupture of cardiac wall without hemopericardiu...,1917,1817,668
28,ICD10,I235,Rupture of papillary muscle as current complic...,791,755,298
29,ICD10,I234,Rupture of chordae tendineae as current compli...,320,315,180
...,...,...,...,...,...,...
53,ICD9,4108,nan,1,0,0
54,ICD9,41012,Acute myocardial infarction of other anterior ...,1,1,1
55,ICD9,4105,nan,1,0,0
56,ICD9,41010,Acute myocardial infarction of other anterior ...,1,0,0
57,ICD9,41051,Acute myocardial infarction of other lateral w...,1,0,0
58,ICD9,41000,Acute myocardial infarction of anterolateral w...,1,0,0
59,ICD9,4118,nan,1,0,0
60,ICD9,4104,nan,1,0,0
61,ICD9,41050,Acute myocardial infarction of other lateral w...,1,0,0
62,ICD9,41001,Acute myocardial infarction of anterolateral w...,1,0,0
63,ICD9,41062,"True posterior wall infarction, subsequent epi...",1,0,0
64,ICD9,41032,Acute myocardial infarction of inferoposterior...,1,0,0
65,ICD9,4107,nan,1,0,0
66,ICD9,41061,"True posterior wall infarction, initial episod...",1,0,0
67,ICD9,41060,"True posterior wall infarction, episode of car...",1,0,0
68,ICD9,4103,nan,1,0,0
69,ICD9,41052,Acute myocardial infarction of other lateral w...,1,0,0
70,ICD9,41082,Acute myocardial infarction of other specified...,1,0,0
71,ICD9,4109,nan,1,0,0
72,ICD9,41002,Acute myocardial infarction of anterolateral w...,1,1,1
73,ICD9,41022,Acute myocardial infarction of inferolateral w...,1,1,1
74,ICD9,41092,Acute myocardial infarction of unspecified sit...,1,1,1
75,ICD9,41031,Acute myocardial infarction of inferoposterior...,1,0,0
76,ICD9,41020,Acute myocardial infarction of inferolateral w...,1,0,0
77,ICD9,4100,nan,1,0,0
78,ICD9,41030,Acute myocardial infarction of inferoposterior...,1,0,0
79,ICD9,4102,nan,1,0,0
80,ICD9,4106,nan,1,0,0
81,ICD9,41021,Acute myocardial infarction of inferolateral w...,1,1,1
82,ICD9,41040,Acute myocardial infarction of other inferior ...,1,1,1

## coh_bool_dx_pop
Determine the overlap population

In [14]:
%%read_sql
DROP TABLE IF EXISTS coh_bool_dx_pop;
CREATE TRANSIENT TABLE coh_bool_dx_pop AS
    SELECT dx1.patient_id
      FROM coh_bool_dx1 dx1
           JOIN coh_bool_dx2 dx2
             ON dx1.patient_id = dx2.patient_id
     GROUP BY dx1.patient_id;

Query started at 10:10:50 AM Eastern Daylight Time; Query executed in 0.03 mQuery started at 10:10:51 AM Eastern Daylight Time; Query executed in 0.08 m

                                        status
0  Table COH_BOOL_DX_POP successfully created.

In [15]:
%%read_sql
--Review counts
SELECT Count(*) AS row_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_dx_pop

Query started at 10:10:57 AM Eastern Daylight Time; Query executed in 0.08 m

   row_cnt  patient_cnt
0   133753       133753

# Proc & Rx

## coh_bool_proc_raw
raw extract of the raven pharmacy claims

In [16]:
%%read_sql
--Identify subset of procedure claims of interest for procedure & rx codes of interest
DROP TABLE IF EXISTS coh_bool_proc_raw;
CREATE TRANSIENT TABLE coh_bool_proc_raw as
      SELECT patient_id,
             claim_id,
             procedure_type,
             procedure,
             year_of_service,
             ndc
        #FROM rwd_db.rwd.raven_claims_submits_procedure
        FROM rwd_db.rwd.raven_external_claims_submits_procedure
       WHERE year_of_service BETWEEN '{proc_rx_start_dt}' AND '{proc_rx_end_dt}'
             AND patient_id IN (SELECT patient_id
                                  FROM coh_bool_dx_pop)
             AND (procedure IN (SELECT code
                                  FROM coh_bool_ref_proc_rx)
                 OR ndc IN (SELECT code
                              FROM coh_bool_ref_proc_rx));
                              
--Add flag to identify if in final cohort
ALTER TABLE coh_bool_proc_raw
        ADD cohort_flag BOOLEAN default False;

Query started at 10:11:01 AM Eastern Daylight Time; Query executed in 0.03 mQuery started at 10:11:03 AM Eastern Daylight Time; Query executed in 2.05 mQuery started at 10:13:06 AM Eastern Daylight Time; Query executed in 0.04 m

                             status
0  Statement executed successfully.

In [17]:
%%read_sql
--Check the raw counts from the procedure data pull
SELECT Count(*)                     AS row_cnt, 
       Count(DISTINCT patient_id)   AS patient_cnt, 
       Count(DISTINCT claim_id)     AS claim_cnt, 
       Count(DISTINCT procedure)    AS procedure_cnt, 
       Count(DISTINCT ndc)          AS ndc_cnt 
  FROM coh_bool_proc_raw;

Query started at 10:13:09 AM Eastern Daylight Time; Query executed in 0.12 m

   row_cnt  patient_cnt  claim_cnt  procedure_cnt  ndc_cnt
0     5753         1490       2793              7      186

In [18]:
%%read_sql
--Review Distribution of procedure codes
SELECT ref.category,
       ref.code_type,
       ref.code,
       ref.description,
       Count(*) AS row_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_ref_proc_rx ref 
       LEFT JOIN coh_bool_proc_raw proc
              ON ref.code = proc.ndc
 WHERE ref.code_type = 'NDC'
 GROUP BY  ref.category, ref.code_type, ref.code, ref.description
 ORDER BY Count(*) DESC;

Query started at 10:13:16 AM Eastern Daylight Time; Query executed in 0.04 m

,category,code_type,code,description,row_cnt,claim_cnt,patient_cnt
0,Drug,NDC,00904640861,Donepezil Hydrochloride,412,224,157
1,Drug,NDC,00904640961,Donepezil Hydrochloride,344,200,133
2,Drug,NDC,00904650561,Memantine Hydrochloride,269,119,71
3,Drug,NDC,43547027611,Donepezil Hydrochloride,216,159,48
4,Drug,NDC,13668010290,Donepezil Hydrochloride,191,72,36
5,Drug,NDC,00904650661,Memantine Hydrochloride,158,82,62
6,Drug,NDC,00904647861,Donepezil Hydrochloride,158,79,57
7,Drug,NDC,13668010390,Donepezil Hydrochloride,137,61,44
8,Drug,NDC,60687018457,Memantine Hydrochloride,131,65,30
9,Drug,NDC,60687029211,Donepezil Hydrochloride,116,62,47
10,Drug,NDC,00456342833,Memantine Hydrochloride,98,52,33
11,Drug,NDC,00456321063,Memantine Hydrochloride,97,43,27
12,Drug,NDC,33342002810,Donepezil Hydrochloride,96,77,21
13,Drug,NDC,42292000601,Memantine Hydrochloride,96,52,39
14,Drug,NDC,43547027509,Donepezil Hydrochloride,95,30,19
15,Drug,NDC,00591387545,Memantine Hydrochloride,88,37,28
16,Drug,NDC,13668010310,Donepezil Hydrochloride,87,64,25
17,Drug,NDC,33342029809,Memantine Hydrochloride,86,40,18
18,Drug,NDC,43547027609,Donepezil Hydrochloride,77,56,23
19,Drug,NDC,60687018411,Memantine Hydrochloride,69,37,29
20,Drug,NDC,60687030311,Donepezil Hydrochloride,64,39,25
21,Drug,NDC,60687017311,Memantine Hydrochloride,62,29,24
22,Drug,NDC,43547027503,Donepezil Hydrochloride,61,35,25
23,Drug,NDC,33342029815,Memantine Hydrochloride,58,35,17
24,Drug,NDC,00591387045,Memantine Hydrochloride,57,29,24
25,Drug,NDC,00456320563,Memantine Hydrochloride,56,31,22
26,Drug,NDC,29300017205,Memantine Hydrochloride,54,35,13
27,Drug,NDC,29300017116,Memantine Hydrochloride,51,41,10
28,Drug,NDC,43547027511,Donepezil Hydrochloride,49,36,24
29,Drug,NDC,55111059660,Memantine Hydrochloride,49,33,12
...,...,...,...,...,...,...,...
558,Drug1,NDC,65862032699,Donepezil Hydrochloride,1,0,0
559,Drug,NDC,00781261660,Rivastigmine Tartrate,1,0,0
560,Drug,NDC,31722073830,Donepezil Hydrochloride,1,0,0
561,Drug,NDC,00078032615,Rivastigmine Tartrate,1,0,0
562,Drug,NDC,64679012202,Memantine Hydrochloride,1,0,0
563,Drug1,NDC,68084073411,Donepezil Hydrochloride,1,0,0
564,Drug1,NDC,66336056915,Donepezil Hydrochloride,1,0,0
565,Drug,NDC,52343008999,Donepezil Hydrochloride,1,0,0
566,Drug,NDC,31722073790,Donepezil Hydrochloride,1,0,0
567,Drug,NDC,00904640880,Donepezil Hydrochloride,1,0,0
568,Drug,NDC,43547038203,Donepezil Hydrochloride,1,0,0
569,Drug1,NDC,75839042501,Memantine Hydrochloride,1,0,0
570,Drug,NDC,54868583900,Rivastigmine Tartrate,1,0,0
571,Drug,NDC,55111040960,Galantamine Hydrobromide,1,0,0
572,Drug,NDC,55111035305,Rivastigmine Tartrate,1,0,0
573,Drug,NDC,59762024601,Donepezil Hydrochloride,1,0,0
574,Drug,NDC,33261081760,Donepezil Hydrochloride,1,0,0
575,Drug,NDC,00078032361,Rivastigmine Tartrate,1,0,0
576,Drug,NDC,00555013909,Galantamine Hydrobromide,1,0,0
577,Drug,NDC,00591320960,Rivastigmine Tartrate,1,0,0
578,Drug,NDC,63739070833,Galantamine Hydrobromide,1,0,0
579,Drug,NDC,00456340029,Memantine HCl;Memantine HCl;Memantine HCl;Mema...,1,0,0
580,Drug,NDC,63629363201,Donepezil Hydrochloride,1,0,0
581,Drug,NDC,00378514405,Donepezil Hydrochloride,1,0,0
582,Drug,NDC,16590076930,Memantine Hydrochloride,1,0,0
583,Drug,NDC,00781261413,Rivastigmine Tartrate,1,1,1
584,Drug,NDC,60760054790,Donepezil Hydrochloride,1,0,0
585,Drug,NDC,54868395201,Donepezil Hydrochloride,1,0,0
586,Drug,NDC,00555013809,Galantamine Hydrobromide,1,0,0
587,Drug,NDC,00781527431,Donepezil Hydrochloride,1,0,0

In [19]:
%%read_sql
--Review the distribution of the diagnosis counts against the table
SELECT ref.category,
       ref.code_type,
       ref.code,
       ref.description,
       Count(*) AS row_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_ref_proc_rx ref 
       LEFT JOIN coh_bool_proc_raw proc
              ON ref.code = proc.procedure
 WHERE ref.code_type <> 'NDC'
 GROUP BY  ref.category, ref.code_type, ref.code, ref.description
 ORDER BY Count(*) DESC;

Query started at 10:13:18 AM Eastern Daylight Time; Query executed in 0.04 m

,category,code_type,code,description,row_cnt,claim_cnt,patient_cnt
0,Eval,CPT,99483,Cognition focused evaluation,401,382,259

## coh_bool_pharmacy_raw
Identify patients from Raven Pharmacy using the codes of interest

In [20]:
%%read_sql
--Create pharmacy table with codes of interest
DROP TABLE IF EXISTS coh_bool_pharmacy_raw;
CREATE TRANSIENT TABLE coh_bool_pharmacy_raw AS
    SELECT patient_id,
           claim_id,
           prescriber_id            AS npi, 
           product_or_service_id    AS ndc, 
           date_of_service
      #FROM rwd_db.rwd.raven_pharmacy 
      FROM rwd_db.rwd.raven_external_pharmacy
     WHERE date_of_service BETWEEN '{proc_rx_start_dt}' AND '{proc_rx_end_dt}'
           AND patient_id IN (SELECT patient_id
                                FROM coh_bool_dx_pop)
           AND product_or_service_id IN (SELECT code
                                           FROM coh_bool_ref_proc_rx
                                          WHERE code_type = 'NDC');

--Add flag to identify if in final cohort
ALTER TABLE coh_bool_pharmacy_raw
        ADD cohort_flag BOOLEAN default False;
        
--Add flag to identify if healthbase marked the npi as a provider
ALTER TABLE coh_bool_pharmacy_raw
        ADD hb_provider_flag BOOLEAN default False;

Query started at 10:13:20 AM Eastern Daylight Time; Query executed in 0.04 mQuery started at 10:13:22 AM Eastern Daylight Time; Query executed in 2.45 mQuery started at 10:15:49 AM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

In [68]:
%%read_sql
DESC TABLE coh_bool_pharmacy_raw;

Query started at 01:41:18 PM Eastern Daylight Time; Query executed in 0.03 m

,name,type,kind,null?,default,primary key,unique key,check,expression,comment
0,PATIENT_ID,"NUMBER(38,0)",COLUMN,Y,None,N,N,None,None,None
1,CLAIM_ID,"NUMBER(18,0)",COLUMN,Y,None,N,N,None,None,None
2,NPI,VARCHAR(15),COLUMN,Y,None,N,N,None,None,None
3,NDC,VARCHAR(19),COLUMN,Y,None,N,N,None,None,None
4,DATE_OF_SERVICE,DATE,COLUMN,Y,None,N,N,None,None,None
5,COHORT_FLAG,BOOLEAN,COLUMN,Y,FALSE,N,N,None,None,None
6,HB_PROVIDER_FLAG,BOOLEAN,COLUMN,Y,FALSE,N,N,None,None,None

In [71]:
%%read_sql
--Update healthbase flag
BEGIN;
UPDATE coh_bool_pharmacy_raw
   SET hb_provider_flag = TRUE
 WHERE npi IN (SELECT Cast(npi AS VARCHAR(15))
                 FROM rwd_db.rwd.healthbase_practitioner);
COMMIT;

--Review Counts
SELECT hb_provider_flag,
       Count(*) AS cnt
  FROM coh_bool_pharmacy_raw
 GROUP BY hb_provider_flag

Query started at 01:43:36 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:43:38 PM Eastern Daylight Time; Query executed in 0.08 mQuery started at 01:43:43 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:43:45 PM Eastern Daylight Time; Query executed in 0.05 m

   hb_provider_flag     cnt
0              True  207865
1             False    1871

In [21]:
%%read_sql
SELECT Count(*) AS row_cnt,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt,
       Count(Distinct ndc) AS ndc_cnt
  FROM coh_bool_pharmacy_raw

Query started at 10:15:51 AM Eastern Daylight Time; Query executed in 0.13 m

   row_cnt  claim_cnt  patient_cnt  ndc_cnt
0   209736     207808        15825      325

In [22]:
%%read_sql
--Review the distribution of the diagnosis counts against the table
SELECT ref.category,
       ref.code_type,
       ref.code,
       ref.description,
       Count(*) AS row_cnt,
       Count(*) / (SELECT Count(*)
                     FROM coh_bool_pharmacy_raw) AS row_pct,
       Count(Distinct claim_id) AS claim_cnt,
       Count(Distinct patient_id) AS patient_cnt
  FROM coh_bool_ref_proc_rx ref 
       LEFT JOIN coh_bool_pharmacy_raw rx
              ON ref.code = rx.ndc
 WHERE ref.code_type = 'NDC'
 GROUP BY  ref.category, ref.code_type, ref.code, ref.description
 ORDER BY Count(*) DESC;

Query started at 10:15:59 AM Eastern Daylight Time; Query executed in 0.04 m

,category,code_type,code,description,row_cnt,row_pct,claim_cnt,patient_cnt
0,Drug,NDC,43547027609,Donepezil Hydrochloride,18863,0.089937,18748,2637
1,Drug,NDC,43547027611,Donepezil Hydrochloride,13543,0.064572,13435,1955
2,Drug,NDC,43547027509,Donepezil Hydrochloride,11080,0.052828,11016,2143
3,Drug,NDC,00456342833,Memantine Hydrochloride,10561,0.050354,10526,1085
4,Drug,NDC,13668010310,Donepezil Hydrochloride,9493,0.045262,9402,1510
5,Drug,NDC,29300017216,Memantine Hydrochloride,9374,0.044694,9267,1432
6,Drug,NDC,43547027603,Donepezil Hydrochloride,8148,0.038849,8076,1348
7,Drug,NDC,43547027503,Donepezil Hydrochloride,6390,0.030467,6327,1358
8,Drug,NDC,00456122830,Donepezil Hydrochloride/Memantine Hydrochloride,6379,0.030414,6307,612
9,Drug,NDC,47335032286,Memantine Hydrochloride,5994,0.028579,5958,922
10,Drug,NDC,31722073805,Donepezil Hydrochloride,5059,0.024121,4990,1065
11,Drug,NDC,43547027511,Donepezil Hydrochloride,4800,0.022886,4752,799
12,Drug,NDC,29300017116,Memantine Hydrochloride,4690,0.022361,4625,965
13,Drug,NDC,55111059760,Memantine Hydrochloride,4193,0.019992,4170,746
14,Drug,NDC,13668010210,Donepezil Hydrochloride,3974,0.018948,3932,745
15,Drug,NDC,29300017205,Memantine Hydrochloride,3750,0.017880,3706,708
16,Drug,NDC,55111059660,Memantine Hydrochloride,2838,0.013531,2827,551
17,Drug,NDC,33342029815,Memantine Hydrochloride,2810,0.013398,2734,442
18,Drug,NDC,47335032186,Memantine Hydrochloride,2744,0.013083,2726,538
19,Drug,NDC,33342029809,Memantine Hydrochloride,2705,0.012897,2656,465
20,Drug,NDC,13668010390,Donepezil Hydrochloride,2358,0.011243,2328,375
21,Drug,NDC,00781730931,Rivastigmine,2177,0.010380,2146,331
22,Drug,NDC,00456342890,Memantine Hydrochloride,2063,0.009836,2056,276
23,Drug,NDC,33342029709,Memantine Hydrochloride,1927,0.009188,1887,376
24,Drug,NDC,62332009391,Donepezil Hydrochloride,1897,0.009045,1865,222
25,Drug,NDC,00456341433,Memantine Hydrochloride,1861,0.008873,1857,242
26,Drug,NDC,00781730431,Rivastigmine,1833,0.008740,1820,405
27,Drug,NDC,31722073705,Donepezil Hydrochloride,1770,0.008439,1748,409
28,Drug,NDC,47781030503,Rivastigmine,1597,0.007614,1577,270
29,Drug,NDC,33342002815,Donepezil Hydrochloride,1568,0.007476,1550,292
...,...,...,...,...,...,...,...,...
558,Drug,NDC,12280038160,Memantine Hydrochloride,1,0.000005,0,0
559,Drug,NDC,60687017311,Memantine Hydrochloride,1,0.000005,0,0
560,Drug,NDC,21695018430,Galantamine Hydrobromide,1,0.000005,0,0
561,Drug,NDC,00591387545,Memantine Hydrochloride,1,0.000005,0,0
562,Drug,NDC,60687030301,Donepezil Hydrochloride,1,0.000005,1,1
563,Drug,NDC,50458049010,Galantamine Hydrobromide,1,0.000005,0,0
564,Drug,NDC,50458039760,Galantamine Hydrobromide,1,0.000005,1,1
565,Drug,NDC,51079013830,Donepezil Hydrochloride,1,0.000005,0,0
566,Drug1,NDC,66105073715,Donepezil Hydrochloride,1,0.000005,0,0
567,Drug,NDC,45963056004,Donepezil Hydrochloride,1,0.000005,1,1
568,Drug,NDC,42254030590,Donepezil Hydrochloride,1,0.000005,0,0
569,Drug,NDC,54868451200,Rivastigmine Tartrate,1,0.000005,0,0
570,Drug,NDC,45963056104,Donepezil Hydrochloride,1,0.000005,0,0
571,Drug1,NDC,66105073703,Donepezil Hydrochloride,1,0.000005,0,0
572,Drug,NDC,00143974809,Donepezil Hydrochloride,1,0.000005,0,0
573,Drug,NDC,12280029130,Galantamine Hydrobromide,1,0.000005,0,0
574,Drug,NDC,60429039460,Rivastigmine Tartrate,1,0.000005,0,0
575,Drug,NDC,51079047003,Galantamine Hydrobromide,1,0.000005,0,0
576,Drug,NDC,63739065210,Donepezil Hydrochloride,1,0.000005,0,0
577,Drug,NDC,21695023215,Memantine Hydrochloride,1,0.000005,0,0
578,Drug1,NDC,68084072511,Donepezil Hydrochloride,1,0.000005,0,0
579,Drug,NDC,00078032661,Rivastigmine Tartrate,1,0.000005,0,0
580,Drug,NDC,00143974709,Donepezil Hydrochloride,1,0.000005,0,0
581,Drug,NDC,43063065990,Donepezil Hydrochloride,1,0.000005,0,0
582,Drug,NDC,51079013956,Donepezil Hydrochloride,1,0.000005,0,0
583,Drug,NDC,54868620800,Donepezil Hydrochloride,1,0.000005,0,0
584,Drug,NDC,63629338302,Memantine Hydrochloride,1,0.000005,0,0
585,Drug,NDC,54868424500,Donepezil Hydrochloride,1,0.000005,0,0
586,Drug,NDC,58864088730,Memantine Hydrochloride,1,0.000005,0,0
587,Drug1,NDC,75839042501,Memantine Hydrochloride,1,0.000005,0,0

# Final populations
Create the summary Statistics for all of the populations

* coh_bool_dx1
* coh_bool_dx2
* coh_bool_proc_raw
* coh_bool_pharmacy_raw

Need overlap of everything and counts of 
* claims
* patients
* Unique hcps
* emr overlap

## coh_bool_pt
Create the patient population

In [78]:
%%read_sql
DROP TABLE IF EXISTS coh_bool_pt;
CREATE TRANSIENT TABLE coh_bool_pt AS 
    SELECT dx1.patient_id
      FROM coh_bool_dx1 dx1
           JOIN coh_bool_dx2 dx2
             ON dx1.patient_id = dx2.patient_id
     WHERE dx1.patient_id IN (SELECT patient_id
                                FROM coh_bool_proc_raw)
           OR dx1.patient_id IN (SELECT patient_id
                                   FROM coh_bool_pharmacy_raw)
   GROUP BY dx1.patient_id;

--Add column for EHR overlap           
ALTER TABLE coh_bool_pt
        ADD ehr_overlap BOOLEAN DEFAULT False;

--Update EHR overlap column
BEGIN;
UPDATE coh_bool_pt coh
   SET coh.ehr_overlap = True
  FROM rwd_db.rwd.raven_patient_demographics demo
 WHERE coh.patient_id = demo.patient_id
       AND demo.source_of_patient IN ('CLAIMS AND EHR','EHR');
COMMIT;

Query started at 01:46:18 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:46:20 PM Eastern Daylight Time; Query executed in 0.14 mQuery started at 01:46:29 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:46:31 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:46:33 PM Eastern Daylight Time; Query executed in 0.53 mQuery started at 01:47:05 PM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

In [79]:
%%read_sql
--Review EHR Overlap
SELECT ehr_overlap,
       Count(*) as cnt,
       Count(*) / (SELECT Count(*)
                     FROM coh_bool_pt_yr) AS pct
  FROM coh_bool_pt
 GROUP BY ehr_overlap;

Query started at 01:47:07 PM Eastern Daylight Time; Query executed in 0.04 m

   ehr_overlap   cnt       pct
0        False  7386  0.219247
1         True  9458  0.280753

## coh_bool_pt_yr
Identify all of the unique years where a patient's data may have appeared

In [80]:
%%read_sql

--Create all unique years that are possible from data
CREATE OR REPLACE TEMP TABLE tmp_unique_yrs AS
    SELECT year(year_of_service) AS yr
      FROM coh_bool_dx1
     UNION
    SELECT year(year_of_service) AS yr
      FROM coh_bool_dx2
     UNION
    SELECT year(year_of_service) AS yr
      FROM coh_bool_proc_raw 
     UNION
    SELECT year(date_of_service) AS yr
      FROM coh_bool_pharmacy_raw;

--Create final table
DROP TABLE IF EXISTS coh_bool_pt_yr;
CREATE TRANSIENT TABLE coh_bool_pt_yr AS
    SELECT pt.patient_id,
           yr.yr
      FROM coh_bool_pt pt
           JOIN tmp_unique_yrs yr;

Query started at 01:47:09 PM Eastern Daylight Time; Query executed in 0.06 mQuery started at 01:47:13 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:47:15 PM Eastern Daylight Time; Query executed in 0.05 m

                                       status
0  Table COH_BOOL_PT_YR successfully created.

## cohort_flag Update
Update the raw data extracts with a flag to identify claims for patients in the final cohort

In [81]:
%%read_sql

--Diagnosis Code Group 1
BEGIN;
UPDATE coh_bool_dx1 dx1
   SET dx1.cohort_flag = True
 WHERE dx1.patient_id IN (SELECT patient_id
                            FROM coh_bool_pt);
COMMIT;

--Diagnosis Code Group2
BEGIN;
UPDATE coh_bool_dx2 dx2
   SET dx2.cohort_flag = True
 WHERE dx2.patient_id IN (SELECT patient_id
                            FROM coh_bool_pt);
COMMIT;

--Procedures
BEGIN;
UPDATE coh_bool_proc_raw proc
   SET proc.cohort_flag = True
 WHERE proc.patient_id IN (SELECT patient_id
                             FROM coh_bool_pt);
COMMIT;

--Pharmacy
BEGIN;
UPDATE coh_bool_pharmacy_raw rx
   SET rx.cohort_flag = True
 WHERE rx.patient_id IN (SELECT patient_id
                           FROM coh_bool_pt);
COMMIT;

Query started at 01:47:18 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:47:20 PM Eastern Daylight Time; Query executed in 0.13 mQuery started at 01:47:28 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:47:30 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:47:32 PM Eastern Daylight Time; Query executed in 0.10 mQuery started at 01:47:38 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:47:40 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:47:42 PM Eastern Daylight Time; Query executed in 0.10 mQuery started at 01:47:48 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:47:50 PM Eastern Daylight Time; Query executed in 0.05 mQuery started at 01:47:53 PM Eastern Daylight Time; Query executed in 0.08 mQuery started at 01:47:58 PM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

## coh_bool_provider_raw
Get the providers for the claims

In [82]:
%%read_sql
DROP TABLE IF EXISTS coh_bool_claim;
CREATE TRANSIENT TABLE coh_bool_claim AS
    SELECT patient_id, 
           claim_id, 
           1 AS dx1,
           0 AS dx2,
           0 AS proc
      FROM coh_bool_dx1
     UNION 
    SELECT patient_id, 
           claim_id,
           0 AS dx1,
           1 AS dx2,
           0 AS proc
      FROM coh_bool_dx2
     UNION 
    SELECT patient_id, 
           claim_id,
           0 AS dx1,
           0 AS dx2,
           1 AS proc
      FROM coh_bool_proc_raw;

BEGIN;
DELETE FROM coh_bool_claim 
WHERE Not(patient_id in (SELECT patient_id
                            FROM coh_bool_pt));
COMMIT;

Query started at 01:48:00 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:48:02 PM Eastern Daylight Time; Query executed in 0.11 mQuery started at 01:48:09 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:48:11 PM Eastern Daylight Time; Query executed in 0.11 mQuery started at 01:48:17 PM Eastern Daylight Time; Query executed in 0.03 m

                             status
0  Statement executed successfully.

In [83]:
%%read_sql
SELECT Count(Distinct patient_id) pt_cnt,
       Count(*) AS row_cnt
  FROM coh_bool_pt

Query started at 01:48:19 PM Eastern Daylight Time; Query executed in 0.03 m

   pt_cnt  row_cnt
0   16844    16844

In [84]:
%%read_sql                                   
DROP TABLE IF EXISTS coh_bool_provider_raw;
CREATE TRANSIENT TABLE coh_bool_provider_raw AS 
  SELECT patient_id, 
         claim_id, 
         year_of_service, 
         provider_type, 
         provider_npi
    #FROM rwd_db.rwd.raven_claims_submits_provider
    FROM rwd_db.rwd.raven_external_claims_submits_provider
   WHERE year_of_service BETWEEN Least('{med_dx_start_dt}','{proc_rx_start_dt}') 
                                 AND Greatest('{med_dx_end_dt}','{proc_rx_end_dt}')
         AND claim_id IN (SELECT claim_id 
                            FROM coh_bool_claim)
         AND entity_type_code = 1; 

--Add flag to identify if healthbase marked the npi as a provider
ALTER TABLE coh_bool_provider_raw
        ADD hb_provider_flag BOOLEAN default False;

Query started at 01:48:21 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:48:23 PM Eastern Daylight Time; Query executed in 1.63 mQuery started at 01:50:01 PM Eastern Daylight Time; Query executed in 0.05 m

                             status
0  Statement executed successfully.

In [85]:
%%read_sql
--Update healthbase flag
BEGIN;
UPDATE coh_bool_provider_raw
   SET hb_provider_flag = TRUE
 WHERE provider_npi IN (SELECT Cast(npi AS VARCHAR(15))
                          FROM rwd_db.rwd.healthbase_practitioner);
COMMIT;

--Review Counts
SELECT hb_provider_flag,
       Count(*) AS cnt
  FROM coh_bool_provider_raw
 GROUP BY hb_provider_flag

Query started at 01:50:04 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:50:06 PM Eastern Daylight Time; Query executed in 0.15 mQuery started at 01:50:15 PM Eastern Daylight Time; Query executed in 0.03 mQuery started at 01:50:17 PM Eastern Daylight Time; Query executed in 0.04 m

   hb_provider_flag     cnt
0             False     188
1              True  249218

In [86]:
%%read_sql
SELECT Count(*) AS row_cnt,
       Count(Distinct patient_id) AS pt_cnt,
       Count(Distinct claim_id) AS claim_cnt
  FROM coh_bool_provider_raw;

Query started at 01:50:19 PM Eastern Daylight Time; Query executed in 0.05 m

   row_cnt  pt_cnt  claim_cnt
0   249406   16823     173312

# Yearly Counts
Figure out the yearly Counts

## Summarize Data
Summarize data at the riht level

### DX1

In [87]:
%%read_sql
--Diagnosis Code group 1 counts
CREATE OR REPLACE TEMP TABLE tmp_dx1_cnt AS
    SELECT year(year_of_service) AS yr,
           Count(Distinct patient_id) AS dx1_pt_cnt,
           Count(Distinct patient_id, year_of_service) AS dx1_claim_cnt
      FROM coh_bool_dx1
     WHERE cohort_flag = TRUE
     GROUP BY yr;

--Summary Counts
SELECT *
  FROM tmp_dx1_cnt
 ORDER BY yr;

Query started at 01:50:22 PM Eastern Daylight Time; Query executed in 0.05 mQuery started at 01:50:25 PM Eastern Daylight Time; Query executed in 0.03 m

     yr  dx1_pt_cnt  dx1_claim_cnt
0  2017       11090          40342
1  2018       11376          43302

### DX2

In [88]:
%%read_sql
--Diagnosis Code group 2 counts
CREATE OR REPLACE TEMP TABLE tmp_dx2_cnt AS
    SELECT year(year_of_service) AS yr,
           Count(Distinct patient_id) AS dx2_pt_cnt, 
           Count(Distinct patient_id, year_of_service) AS dx2_claim_cnt
      FROM coh_bool_dx2
     WHERE cohort_flag = True
     GROUP BY yr;
     
--Summary Counts
SELECT *
  FROM tmp_dx2_cnt
 ORDER BY yr;

Query started at 01:50:27 PM Eastern Daylight Time; Query executed in 0.08 mQuery started at 01:50:32 PM Eastern Daylight Time; Query executed in 0.04 m

     yr  dx2_pt_cnt  dx2_claim_cnt
0  2017        9432          24434
1  2018        8973          24187

### Proc

In [89]:
%%read_sql
--Procedure counts (cpt, icd10, hcpcs)
CREATE OR REPLACE TEMP TABLE tmp_proc_cnt AS
    SELECT year(proc.year_of_service) AS yr,
           Count(Distinct proc.patient_id) AS proc_pt_cnt,
           Count(Distinct proc.patient_id, proc.year_of_service) AS proc_claim_cnt
      FROM coh_bool_proc_raw proc
           JOIN coh_bool_ref_proc_rx ref
             ON ref.code = proc.procedure
     WHERE ref.code_type <> 'NDC'
           AND proc.cohort_flag = True
     GROUP BY yr;

--Summary Counts
SELECT *
  FROM tmp_proc_cnt
 ORDER BY yr;

Query started at 01:50:34 PM Eastern Daylight Time; Query executed in 0.06 mQuery started at 01:50:37 PM Eastern Daylight Time; Query executed in 0.03 m

     yr  proc_pt_cnt  proc_claim_cnt
0  2018          259             299

### Med NDC

In [90]:
%%read_sql
--ndc counts from procedure claims
CREATE OR REPLACE TEMP TABLE tmp_proc_ndc_cnt AS
    SELECT year(proc.year_of_service) AS yr,
           Count(Distinct proc.patient_id) AS proc_ndc_pt_cnt,
           Count(Distinct proc.patient_id, proc.year_of_service) AS proc_ndc_claim_cnt
      FROM coh_bool_proc_raw proc
           JOIN coh_bool_ref_proc_rx ref
             ON proc.ndc = ref.code
     WHERE ref.code_type = 'NDC'    
           AND proc.cohort_flag = True
    GROUP BY  yr;
    
--Summary Counts
SELECT *
  FROM tmp_proc_ndc_cnt
 ORDER BY yr;

Query started at 01:50:39 PM Eastern Daylight Time; Query executed in 0.05 mQuery started at 01:50:42 PM Eastern Daylight Time; Query executed in 0.04 m

     yr  proc_ndc_pt_cnt  proc_ndc_claim_cnt
0  2017              612                1667
1  2018              717                1973

### Pharmacy NDC patients & Claims

In [91]:
%%read_sql
--pharmacy counts
CREATE OR REPLACE TEMP TABLE tmp_phar_pt_cnt AS
    SELECT year(date_of_service) AS yr,
           Count(Distinct patient_id) AS phar_ndc_pt_cnt,
           Count(Distinct patient_id, date_of_service) AS phar_ndc_claim_cnt
      FROM coh_bool_pharmacy_raw rx
           JOIN coh_bool_ref_proc_rx ref
             ON rx.ndc = ref.code
     WHERE ref.code_type = 'NDC'
           AND rx.cohort_flag = True
     GROUP BY yr;

--Summary Counts
SELECT *
  FROM tmp_phar_pt_cnt
 ORDER BY yr;

Query started at 01:50:44 PM Eastern Daylight Time; Query executed in 0.06 mQuery started at 01:50:47 PM Eastern Daylight Time; Query executed in 0.03 m

     yr  phar_ndc_pt_cnt  phar_ndc_claim_cnt
0  2017            12201               83651
1  2018            10308               64347

### Pharmacy npi cnts

In [92]:
%%read_sql
--pharmacy counts
CREATE OR REPLACE TEMP TABLE tmp_phar_npi_cnt AS
    SELECT year(date_of_service) AS yr,
           Count(Distinct rx.npi) AS phar_npi_cnt
      FROM coh_bool_pharmacy_raw rx
           JOIN coh_bool_ref_proc_rx ref
             ON rx.ndc = ref.code
     WHERE ref.code_type = 'NDC'
           AND rx.cohort_flag = True
     GROUP BY  yr;

--Summary Counts
SELECT *
  FROM tmp_phar_npi_cnt
 ORDER BY yr;

Query started at 01:50:49 PM Eastern Daylight Time; Query executed in 0.06 mQuery started at 01:50:53 PM Eastern Daylight Time; Query executed in 0.04 m

     yr  phar_npi_cnt
0  2017         14217
1  2018         12090

### Medical Providers

In [93]:
%%read_sql
  --Provider Count from medical claims
CREATE OR REPLACE TEMP TABLE tmp_med_npi_cnt AS
SELECT Year(year_of_service) AS yr,
       Count(Distinct provider_npi) med_npi_cnt
  FROM coh_bool_provider_raw
 GROUP BY yr;
 
--Review stats
SELECT *
  FROM tmp_med_npi_cnt

Query started at 01:50:55 PM Eastern Daylight Time; Query executed in 0.05 mQuery started at 01:50:58 PM Eastern Daylight Time; Query executed in 0.04 m

     yr  med_npi_cnt
0  2017        33141
1  2018        32589

### All Provider Count

In [94]:
%%read_sql       
  
--Count of providers from medical and pharmacy claims
CREATE OR REPLACE TEMP TABLE tmp_all_provider_cnt AS
    SELECT year(svc_dt) AS yr,
           Count(Distinct npi) AS total_npi_cnt
     FROM (SELECT provider_npi AS npi,
                  year_of_service AS svc_dt
             FROM coh_bool_provider_raw
            UNION 
           SELECT npi AS npi,
                  date_of_service AS svc_dt
             FROM coh_bool_pharmacy_raw)
     GROUP BY yr;
 
--Review Counts
SELECT *
  FROM tmp_all_provider_cnt;

Query started at 01:51:00 PM Eastern Daylight Time; Query executed in 0.05 mQuery started at 01:51:04 PM Eastern Daylight Time; Query executed in 0.05 m

     yr  total_npi_cnt
0  2018          39807
1  2017          41693

## Merge
Merge Everything together

### Overall Counts
Counts across all years

In [95]:
%%read_sql all_time_df
--Get the high level counts across all years
CREATE OR REPLACE TEMP TABLE coh_bool_stats_alltime AS
    SELECT  --All Years
            'All time'                                AS yr,

            --Patient Count
            (SELECT Count(DISTINCT patient_id) 
               FROM coh_bool_pt)                       AS pt_cnt, 

            --Medical Claim Counts Total (DX + Proc)
            (SELECT Count(DISTINCT patient_id, claim_id) 
               FROM coh_bool_claim 
              WHERE patient_id IN (SELECT patient_id 
                                    FROM coh_bool_pt)) AS med_claim_cnt, 

            --Pharmacy Claim Counts Total                        
            (SELECT Count(DISTINCT patient_id, claim_id) 
               FROM coh_bool_pharmacy_raw 
              WHERE patient_id IN (SELECT patient_id 
                                    FROM coh_bool_pt)) AS pharmacy_claim_cnt,

           --EHR Overlap Counts
           (SELECT Count(DISTINCT patient_id) 
              FROM coh_bool_pt 
             WHERE ehr_overlap = true)                 AS ehr_overlap,

           --Procedure Overall Counts
          (SELECT Count(Distinct proc.patient_id)   
             FROM coh_bool_proc_raw proc
                  JOIN coh_bool_ref_proc_rx ref
                    ON ref.code = proc.procedure
            WHERE ref.code_type <> 'NDC'
                  AND proc.cohort_flag = True)          AS proc_pt_cnt,

         --Procedure Claim Counts
         (SELECT Count(Distinct proc.patient_id, proc.year_of_service)
            FROM coh_bool_proc_raw proc
                 JOIN coh_bool_ref_proc_rx ref
                   ON ref.code = proc.procedure
           WHERE ref.code_type <> 'NDC'
                 AND proc.cohort_flag = True)          AS proc_ndc_cnt,

        --Procedure NDC Patient Counts
        (SELECT Count(Distinct proc.patient_id)        
          FROM coh_bool_proc_raw proc
               JOIN coh_bool_ref_proc_rx ref
                 ON proc.ndc = ref.code
         WHERE ref.code_type = 'NDC'    
               AND proc.cohort_flag = True) AS proc_ndc_pt_cnt,

         --Procedure NDC Claim Counts
        (SELECT Count(Distinct proc.patient_id, proc.year_of_service)
          FROM coh_bool_proc_raw proc
               JOIN coh_bool_ref_proc_rx ref
                 ON proc.ndc = ref.code
         WHERE ref.code_type = 'NDC'    
               AND proc.cohort_flag = True) AS proc_ndc_claim_cnt,
        
        --Pharmacy Patient Count
        (SELECT Count(Distinct patient_id)      
           FROM coh_bool_pharmacy_raw rx
          WHERE rx.cohort_flag = True) AS phar_ndc_pt_cnt,
        
        --Pharmacy Claim Count
        (SELECT Count(Distinct patient_id, date_of_service) 
           FROM coh_bool_pharmacy_raw
          WHERE cohort_flag = True) AS phar_ndc_claim_cnt,
        
        --Provider Count from medical claims
        (SELECT Count(Distinct provider_npi) 
           FROM coh_bool_provider_raw) AS med_claim_provider_cnt,
        
        --Provider Count from pharmacy claims
        (SELECT Count(Distinct npi)
           FROM coh_bool_pharmacy_raw
          WHERE cohort_flag = True) AS pharmacy_claim_provider_cnt,
          
        --Count of providers from medical and pharmacy claims
        (SELECT Count(Distinct npi)
        FROM (SELECT provider_npi AS npi
                FROM coh_bool_provider_raw
               UNION 
              SELECT npi
                FROM coh_bool_pharmacy_raw)) as provider_total_cnt;

SELECT *
  FROM coh_bool_stats_alltime;

Query started at 01:51:06 PM Eastern Daylight Time; Query executed in 0.12 mQuery started at 01:51:14 PM Eastern Daylight Time; Query executed in 0.04 m

,yr,pt_cnt,med_claim_cnt,pharmacy_claim_cnt,ehr_overlap,proc_pt_cnt,proc_ndc_cnt,proc_ndc_pt_cnt,proc_ndc_claim_cnt,phar_ndc_pt_cnt,phar_ndc_claim_cnt,med_claim_provider_cnt,pharmacy_claim_provider_cnt,provider_total_cnt
0,All time,16844,187564,207808,9458,259,299,1234,3640,15825,147998,54447,19785,64856

### Yearly Counts
Identify the diagnosis code overlap

In [96]:
%%read_sql
--Final Summary of yearly data\
DROP TABLE IF EXISTS coh_bool_stats_yr;
CREATE TRANSIENT TABLE coh_bool_stats_yr AS
    SELECT DISTINCT pt.yr,
                    dx1.dx1_pt_cnt,
                    dx1.dx1_claim_cnt,
                    dx2.dx2_pt_cnt,
                    dx2.dx2_claim_cnt,
                    proc.proc_pt_cnt,
                    proc.proc_claim_cnt,
                    procndc.proc_ndc_pt_cnt,
                    procndc.proc_ndc_claim_cnt,
                    phar.phar_ndc_pt_cnt,
                    phar.phar_ndc_claim_cnt,
                    pharnpi.phar_npi_cnt,
                    mednpi.med_npi_cnt,
                    allnpi.total_npi_cnt
      FROM coh_bool_pt_yr pt
           LEFT JOIN tmp_dx1_cnt dx1
                  ON pt.yr = dx1.yr
           LEFT JOIN tmp_dx2_cnt dx2
                  ON pt.yr = dx2.yr
           LEFT JOIN tmp_proc_cnt proc
                  ON pt.yr = proc.yr
           LEFT JOIN tmp_proc_ndc_cnt procndc
                  ON pt.yr = procndc.yr
           LEFT JOIN tmp_phar_pt_cnt phar
                  ON pt.yr = phar.yr
           LEFT JOIN tmp_phar_npi_cnt pharnpi
                  ON pt.yr = pharnpi.yr
           LEFT JOIN tmp_med_npi_cnt mednpi
                  ON pt.yr = mednpi.yr
           LEFT JOIN tmp_all_provider_cnt allnpi
                  ON pt.yr = allnpi.yr

Query started at 01:51:16 PM Eastern Daylight Time; Query executed in 0.04 mQuery started at 01:51:18 PM Eastern Daylight Time; Query executed in 0.07 m

                                          status
0  Table COH_BOOL_STATS_YR successfully created.

In [97]:
%%read_sql
SELECT *
  FROM coh_bool_stats_yr

Query started at 01:51:23 PM Eastern Daylight Time; Query executed in 0.04 m

,yr,dx1_pt_cnt,dx1_claim_cnt,dx2_pt_cnt,dx2_claim_cnt,proc_pt_cnt,proc_claim_cnt,proc_ndc_pt_cnt,proc_ndc_claim_cnt,phar_ndc_pt_cnt,phar_ndc_claim_cnt,phar_npi_cnt,med_npi_cnt,total_npi_cnt
0,2018,11376,43302,8973,24187,259.0,299.0,717,1973,10308,64347,12090,32589,39807
1,2017,11090,40342,9432,24434,NaN,NaN,612,1667,12201,83651,14217,33141,41693

## Output to Excel
Create an output for excel

In [98]:
#Pull down annual stats
df_year = snow.select("SELECT * FROM coh_bool_stats_yr")
df_year = df_year.fillna(0)
df_year.columns = ['Year',
                   'Diagnosis Group 1 Patient Count','Diagnosis Group 1 Claim Count',
                   'Diagnosis Group 2 Patient Count','Diagnosis Group 2 Claim Count',
                   'Procedure Patient Count','Procedure Claim Count',
                   'Procedure NDC Patient Count','Procedure NDC Claim Count',
                   'Pharmacy Patient Count','Pharmacy Claim Count',
                   'Pharmacy Provider Count', 'Medical Provider Count', 'Total Provider Count']

In [99]:
#Transpose to make eaiser to read
df_year_t = df_year.transpose()
df_year_t.reset_index(inplace=True)
df_year_t

                              index        0        1
0                              Year   2017.0   2018.0
1   Diagnosis Group 1 Patient Count  11090.0  11376.0
2     Diagnosis Group 1 Claim Count  40342.0  43302.0
3   Diagnosis Group 2 Patient Count   9432.0   8973.0
4     Diagnosis Group 2 Claim Count  24434.0  24187.0
5           Procedure Patient Count      0.0    259.0
6             Procedure Claim Count      0.0    299.0
7       Procedure NDC Patient Count    612.0    717.0
8         Procedure NDC Claim Count   1667.0   1973.0
9            Pharmacy Patient Count  12201.0  10308.0
10             Pharmacy Claim Count  83651.0  64347.0
11          Pharmacy Provider Count  14217.0  12090.0
12           Medical Provider Count  33141.0  32589.0
13             Total Provider Count  41693.0  39807.0

In [100]:
#Pull All time numbers
df_all = snow.select("SELECT * FROM coh_bool_stats_alltime")
df_all = df_all.fillna(0)
df_all.columns = ['Year','Patient Count',
                  'Medical Claim Counts','Pharmacy Claim Counts','EHR Overlap',
                  'Procedure Patient Count','Procedure Claim Count',
                  'Procedure NDC Patient Count','Procedure NDC Claim Count',
                  'Pharmacy Patient Count','Pharmacy Claim Count',
                  'Medical Provider Count','Pharmacy Provider Count', 'Total Provider Count']

In [101]:
#Transpose all time numbers
df_all_t = df_all.transpose()
df_all_t.reset_index(inplace=True)
df_all_t.columns = ['Category','Count']
df_all_t

                       Category     Count
0                          Year  All time
1                 Patient Count     16844
2          Medical Claim Counts    187564
3         Pharmacy Claim Counts    207808
4                   EHR Overlap      9458
5       Procedure Patient Count       259
6         Procedure Claim Count       299
7   Procedure NDC Patient Count      1234
8     Procedure NDC Claim Count      3640
9        Pharmacy Patient Count     15825
10         Pharmacy Claim Count    147998
11       Medical Provider Count     54447
12      Pharmacy Provider Count     19785
13         Total Provider Count     64856

In [102]:
#Export to excel spreadsheet
make_xlsx([df_all_t,df_year_t],
          '../../out/coh/cohort_bool_stats.xlsx',
          workbook_title = 'Pre-Sales Scoping Semi-Custom Output',
          sheet_names = ['Overall Counts','Yearly Counts'],
          sheet_titles = ['Overall Counts','Yearly Counts'],
          sheet_descriptions = ['All Time Counts','Yearly Counts'])